<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GECESISApp20"
        tools:targetApi="31">
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".SectionAdapter"
            android:exported="false" />
        <activity
            android:name=".StudentAdapter2"
            android:exported="false" />
        <activity
            android:name=".AdminMapping2"
            android:exported="false" />
        <activity
            android:name=".AdminMapping3"
            android:exported="false" />
        <activity
            android:name=".AdminMapping"
            android:exported="false" />
        <activity
            android:name=".MessageAdapter"
            android:exported="false" />
        <activity
            android:name=".NewMessage"
            android:exported="false" />
        <activity
            android:name=".Messages"
            android:exported="false" />
        <activity
            android:name=".DateAdapter"
            android:exported="false" />
        <activity
            android:name=".FacultyViewAttendance"
            android:exported="false" />
        <activity
            android:name=".FacultyChooseAttendance"
            android:exported="false" />
        <activity
            android:name=".Faculty_Announcement2"
            android:exported="false" />
        <activity
            android:name=".Faculty_Announcement"
            android:exported="false" />
        <activity
            android:name=".Faculty_markGrades4"
            android:exported="false" />
        <activity
            android:name=".StudentGradeAdapter"
            android:exported="false" />
        <activity
            android:name=".Faculty_markGrades3"
            android:exported="false" />
        <activity
            android:name=".Faculty_markGrades2"
            android:exported="false" />
        <activity
            android:name=".Faculty_markGrades"
            android:exported="false" />
        <activity
            android:name=".faculty_markattendance3"
            android:exported="false" />
        <activity
            android:name=".StudentAdapter"
            android:exported="false" />
        <activity
            android:name=".Profile_Faculty"
            android:exported="false" />
        <activity
            android:name=".FacultyDashboardPolicies"
            android:exported="false" />
        <activity
            android:name=".faculty_markattendance2"
            android:exported="false" />
        <activity
            android:name=".faculty_markattendance1"
            android:exported="false" />
        <activity
            android:name=".item_CourseAdapter"
            android:exported="false" />
        <activity
            android:name=".faculty_attendance_page3"
            android:exported="false" />
        <activity
            android:name=".faculty_attendance_page2"
            android:exported="false" />
        <activity
            android:name=".faculty_attendance_combobox"
            android:exported="false" />
        <activity
            android:name=".attendance_page2"
            android:exported="false" />
        <activity
            android:name=".courses_combo_view"
            android:exported="false" />
        <activity
            android:name=".AttendanceAdapter"
            android:exported="false" />
        <activity
            android:name=".FacultyDashboard"
            android:exported="false" />
        <activity
            android:name=".Student_Announcement"
            android:exported="false" />
        <activity
            android:name=".ProfilePicture"
            android:exported="false" />
        <activity
            android:name=".courses_comboboxes"
            android:exported="false" />
        <activity
            android:name=".CourseAdapter"
            android:exported="false" />
        <activity
            android:name=".GradesScreenSecond"
            android:exported="false" />
        <activity
            android:name=".CardAdapter"
            android:exported="false" />
        <activity
            android:name=".CoursesScreenFirst"
            android:exported="false" />
        <activity
            android:name=".GradesScreenFirst"
            android:exported="false" />
        <activity
            android:name=".policyAdapter"
            android:exported="false" />
        <activity
            android:name=".ComplaintTrack"
            android:exported="false" />
        <activity
            android:name=".ComplaintReview"
            android:exported="false" />
        <activity
            android:name=".ComplaintScreenSuggestions"
            android:exported="false" />
        <activity
            android:name=".ComplaintScreenAnonComplain"
            android:exported="false" />
        <activity
            android:name=".ComplaintScreenFileComplaint"
            android:exported="false" />
        <activity
            android:name=".ComplaintScreenFirst"
            android:exported="false" />
        <activity
            android:name=".student_attendance_comboboxes"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardPolicies"
            android:exported="false" />
        <activity
            android:name=".StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>