<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GECESISApp20"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="Faculty_Admin.Admin_Mapping.AdminMapping4"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.Admin_Announcement3"
            android:exported="false" />
        <activity
            android:name=".OtherDashboard"
            android:exported="false" />
        <activity
            android:name="OtherUsers.Dashboard.OtherDashboard"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.AnnouncementAdapter"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.Admin_Announcement2"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.AdminChooseAnnouncement"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.Admin_AnnouncementStart"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.Admin_Announcement"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.ViewCourses.CoursesScreenFirstAdmin"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.ViewCourses.AdminChooseFacultyStudent"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.ViewCourses.Courses_comboboxesAdmin"
            android:exported="false" />
        <activity
            android:name="ViewCoursesAdmin.CoursesScreenFirst"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.FacultyViewAttendance0"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.Faculty_markattendance4"
            android:exported="false" />
        <activity
            android:name=".SectionAdapter"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Dashboards.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".StudentAdapter2"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Admin_Mapping.AdminMapping2"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Admin_Mapping.AdminMapping3"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Admin_Mapping.AdminMapping"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.ProfileView.MessageAdapter"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.ProfileView.NewMessage"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.ProfileView.Messages"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.DateAdapter"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.FacultyViewAttendance"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.FacultyChooseAttendance"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.Faculty_Announcement2"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Announcement.Faculty_Announcement"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Grading.Faculty_markGrades4"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Grading.StudentGradeAdapter"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Grading.Faculty_markGrades3"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Grading.Faculty_markGrades2"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Grading.Faculty_markGrades"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.faculty_markattendance3"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.StudentAdapter"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.ProfileView.Profile_Faculty"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Policies.FacultyDashboardPolicies"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.faculty_markattendance2"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Attendance.faculty_markattendance1"
            android:exported="false" />
        <activity
            android:name=".item_CourseAdapter"
            android:exported="false" />
        <activity
            android:name=".faculty_attendance_page3"
            android:exported="false" />
        <activity
            android:name=".faculty_attendance_page2"
            android:exported="false" />
        <activity
            android:name=".faculty_attendance_combobox"
            android:exported="false" />
        <activity
            android:name="Student.Attendance.attendance_page2"
            android:exported="false" />
        <activity
            android:name=".courses_combo_view"
            android:exported="false" />
        <activity
            android:name="Student.Attendance.AttendanceAdapter"
            android:exported="false" />
        <activity
            android:name="Faculty_Admin.Dashboards.FacultyDashboard"
            android:exported="false" />
        <activity
            android:name="Student.Announcement.Student_Announcement"
            android:exported="false" />
        <activity
            android:name="Student.ProfileView.ProfilePicture"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.ViewCourses.courses_comboboxes"
            android:exported="false" />
        <activity
            android:name="Student.Grades.CourseAdapter"
            android:exported="false" />
        <activity
            android:name="Student.Grades.GradesScreenSecond"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.ViewCourses.CardAdapter"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.ViewCourses.CoursesScreenFirst"
            android:exported="false" />
        <activity
            android:name="Student.Grades.GradesScreenFirst"
            android:exported="false" />
        <activity
            android:name=".policyAdapter"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.Complaint_Feedback.ComplaintTrack"
            android:exported="false" />
        <activity
            android:name=".ComplaintReview"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.Complaint_Feedback.ComplaintScreenSuggestions"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.Complaint_Feedback.ComplaintScreenAnonComplain"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.Complaint_Feedback.ComplaintScreenFileComplaint"
            android:exported="false" />
        <activity
            android:name="Student_Admin_Faculty.Complaint_Feedback.ComplaintScreenFirst"
            android:exported="false" />
        <activity
            android:name="Student.Attendance.student_attendance_comboboxes"
            android:exported="false" />
        <activity
            android:name="Student.Policies.StudentDashboardPolicies"
            android:exported="false" />
        <activity
            android:name="Student.Dashboard.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>